<!DOCTYPE html>
<html>
<head>
  <title>PaymentsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="t-nav">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Users', users_path %></li>
		<li><%= link_to 'Checkout', static_pages_checkout_path %></li>
		<span class="pull-right">
			<li><%= link_to 'Log In', new_user_session_path %></li>
			<li><%= link_to 'Register', new_user_path %></li>
		</span>
	</ul>
</div>
<div class="page-header">
	<h1>Payments Test</h1>
	<hr>
</div>

<div class="page-content">
	<%= yield %>
</div>
</body>
</html>
